.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.375rem;
    width: 800px;
    overflow-y: auto;
    max-height: 80vh;
}

.modal-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: bold;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cancel-button {
    background-color: #e2e8f0;
    color: #2d3748;
}

.cancel-button:hover {
    background-color: #cbd5e0;
}

.update-button {
    background-color: #3182ce;
    color: white;
}

.update-button:hover {
    background-color: #2b6cb0;
}

.form-group input {
    width:100%;
    margin-top: 0.65rem;
    padding-top: 0.5rem;
}
.checkbox-group input{
    width:10%;
}

.form-group .button-right{
    margin-left:80vh;
}