/* Styles for the pagination navigation */
.pagination-nav {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Styles for the pagination buttons */
.pagination-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    box-shadow: 0 4px 10px rgba(20, 5, 0, 0.03);
    font-size: 0.875rem;
    font-weight: normal;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0.375rem;
}

.pagination-btn.active {
    background-color: #f87171; /* red-500 */
    color: #3b82f6; /* blue-700 */
    font-size: 1rem;
}

.pagination-btn:not(.disabled) {
    background-color: #fef3c7; /* yellow-50 */
    color: #f87171; /* red-500 */
}

.pagination-btn:not(.disabled):hover {
    background-color: #f87171; /* red-500 */
    color: #ffffff; /* white */
}

.pagination-btn.disabled {
    color: #fca5a5; /* red-300 */
    background-color: #ffffff; /* white */
    cursor: not-allowed;
}
